DATABASE_URL="postgresql://user:password@localhost:5432/comparecommerce"
NEXTAUTH_URL=" `${process.env.NEXT_PUBLIC_SITE_URL},"
NEXTAUTH_SECRET="replace-with-a-long-random-secret"
JWT_SECRET="replace-with-another-long-random-secret"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
